## What is Judgmental (Purposive) Sampling?
Judgmental Sampling, also known as Purposive Sampling, is a non-probability sampling technique where the researcher selects participants based on their judgment about who will provide the most useful or relevant information for the study. This technique is not random; instead, it is intentional and targeted.

**For example:**<br>
A researcher studying medical professionals selects only senior doctors for interviews.<br>
Choosing experienced data analysts for a study on advanced analytics.<br>

#### Advantages of Judgmental Sampling
1. **Focused and Relevant Data:**
Ensures that only participants with specific knowledge or characteristics are included.
2. **Efficient:**
Saves time and resources by targeting a specific group rather than randomly sampling the entire population.
3. **Useful for Niche Studies:**
Ideal for research involving specialized or hard-to-find populations.
4. **Flexible:**
Researchers can adapt criteria based on evolving research needs.

#### Disadvantages of Judgmental Sampling
1. **High Risk of Bias:**
The sample reflects the researcherâ€™s subjective judgment, which may introduce bias.
2. **Limited Generalizability:**
Findings may not be applicable to the broader population.
3. **Requires Expertise:**
Researchers need deep knowledge of the subject to select appropriate participants.
4. **Lack of Randomness:**
Makes it impossible to calculate sampling error or ensure representativeness.

#### When to Use Judgmental Sampling
1. **Exploratory Research:**
When studying a specific subgroup that requires domain knowledge to identify.
2. **Niche Populations:**
When the population is small, specialized, or difficult to access (e.g., CEOs, rare disease patients).
3. **Case Studies:**
In-depth analysis where only a specific set of participants is relevant.
4. **Pilot Studies:**
Testing research methodologies or instruments with an experienced subset of participants.

#### Python Code for Judgmental Sampling
##### Scenario:
You are conducting a study on employees with more than 10 years of experience in leadership roles.

In [7]:
from numpy import random as rnd
import pandas as pd

In [9]:
population = pd.DataFrame({
    "EmployeeID" : range(1,101),
    "Position" : rnd.choice(["Data Analyst", "Manager", "Backend", "Frontend"], size=100),
    "Experience" : rnd.randint(1,15, size=100), # Years
    "Department" : rnd.choice(["Finance", "IT", "Marketing", "HR"], size=100)
})

population.head(10)

   EmployeeID      Position  Experience Department
0           1       Backend           6         HR
1           2  Data Analyst          14         HR
2           3       Manager           4         IT
3           4  Data Analyst          11    Finance
4           5       Backend           1         HR
5           6  Data Analyst           6         IT
6           7       Backend          13    Finance
7           8       Manager          11         HR
8           9       Manager          10    Finance
9          10      Frontend          11  Marketing

In [19]:
leadership_position = ["Data Analyst", "Manager"]
judgmental_sample = population[(population["Position"].isin(leadership_position)) & (population["Experience"] >= 10)]

In [21]:
judgmental_sample

    EmployeeID      Position  Experience Department
1            2  Data Analyst          14         HR
3            4  Data Analyst          11    Finance
7            8       Manager          11         HR
8            9       Manager          10    Finance
28          29  Data Analyst          12         IT
29          30  Data Analyst          12  Marketing
41          42  Data Analyst          11         IT
47          48  Data Analyst          13  Marketing
48          49  Data Analyst          11         HR
50          51  Data Analyst          13         IT
53          54       Manager          14  Marketing
55          56  Data Analyst          13  Marketing
63          64  Data Analyst          12  Marketing
68          69       Manager          12         IT
73          74  Data Analyst          14         IT
74          75  Data Analyst          10    Finance
92          93       Manager          14         IT
95          96  Data Analyst          10         HR
96          97  Data Analyst          14    Finance